@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h2 class="western">
    Privacy Policy
</h2>
<div id="content-language" dir="ltr">
    <p>

    </p>
    <div id="active-language" dir="ltr">
        <p>English</p>
    </div>
</div>
<p>Effective Date: 10th May, 2019</p>
<p>Thank you for playing our games! This Privacy Policy describes:</p>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            The ways we collect personal data
            about you and why we do so
        </p>
    <li>
        <p style="margin-bottom: 0in">
            How we use your personal data, and
        </p>
    <li>
        <p>
            The choices you have about your personal data.
        </p>
</ul>
<p>
    This Privacy Policy applies to dieupegames's&nbsp; games, websites and
    related services, which we here collectively call the Service. We may
    periodically update this Privacy Policy by posting a new version on
    dieupegames.com. If we make any material changes, we will notify you by
    posting a notice in the Service prior to the change becoming
    effective. Your continued use of the Service after the effective date
    will be subject to the new Privacy Policy.
</p>
<h3 class="western">Contact us</h3>
<p>
    If you have questions about data protection, or if you have any
    requests for resolving issues with your personal data, we encourage
    you to primarily contact us through the game so we can reply to you
    more quickly.
</p>
<p>email: <a href="mailto:dieupegames@gmail.com">dieupegames@gmail.com</a></p>
<h3 class="western">The data we collect</h3>
<h4 class="western">Data you provide us.</h4>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Contact information (such as name
            and email address)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Player name and password
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Profile information (such as
            profile photo)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Your messages to the Service (such
            as chat logs and player support tickets)
        </p>
    <li>
        <p>
            Other data you choose to give us (such as data to identify a
            lost account)
        </p>
</ul>
<h4 class="western">Data we collect automatically.</h4>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Data about your account and game
            progress
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Your IP address and mobile device
            identifiers (such as your device ID, advertising ID, MAC address,
            IMEI)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Data about your device, such as
            device name and operating system, browser type and language
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Data we collect with cookies and
            similar technologies (see more below)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            General location data
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Precise geo-location data (GPS,
            with your consent)
        </p>
    <li>
        <p>
            Data about your use of the Service, such as gameplay data and
            your interactions with other players inside the Service
        </p>
</ul>
<p>
    In most cases, we also create a dieupegames-specific ID for you when
    you use the Service.
</p>
<h4 class="western">Data we collect from our partners.</h4>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Data we receive if you link a
            third party tool with the Service (such as Facebook, WeChat or
            Google)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Demographic data (such as to
            determine the coarse location of your IP address)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Data to fight fraud (such as
            refund abuse in games or click fraud in advertising)
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Data from platforms that the games
            run on (such as to verify payment)
        </p>
    <li>
        <p>
            Data for advertising and analytics purposes, so we can
            provide you a better Service
        </p>
</ul>
<h3 class="western">Why do we collect your data</h3>
<h4 class="western">To make the Service work.</h4>
<p>
    To perform the contract, we process data necessary to
</p>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Create accounts and allow you to
            play our games and use our Service
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Operate the Service
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Verify and confirm payments
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Provide and deliver products and
            services you request
        </p>
    <li>
        <p>
            Send you Service-related communications
        </p>
</ul>
<h4 class="western">
    To make the Service more suitable for our
    players.
</h4>
<p>
    To provide a great Service to our players, we have a legitimate
    interest to collect and process necessary data to
</p>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Update and develop player profiles
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Develop and improve the Service
            and player experience
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Manage our relationship with you
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Provide social features as part of
            the Service
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Customize your Service experience
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Respond to your comments and
            questions and provide player support
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Provide you dieupegames offers in the
            Service as well as in other websites and services, and by email
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Send you related information, such
            as updates, security alerts, and support messages
        </p>
    <li>
        <p>
            Enable you to communicate with other players
        </p>
</ul>
<h4 class="western">To show personalized advertisements.</h4>
<p>
    To show you personalized advertisements in the Service as well as
    in other websites and services (including email) we have a legitimate
    interest to process necessary data to
</p>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Track the content you access in
            connection with the Service and your online behavior
        </p>
    <li>
        <p>
            Deliver, target and improve our advertising and the Service
        </p>
</ul>
<p>
    For information on how to opt-out from personalized
    advertisements, see section 'Your rights and options' below.
</p>
<h4 class="western">To keep the Service safe and fair.</h4>
<p>
    Ensuring a level playing field in the Service is a top priority
    for us. For more information on our acceptable use policy, see the
    dieupegames terms of service.
</p>
<p>
    In order to keep the Service and its social features safe and
    fair, to fight fraud and ensure acceptable use otherwise, we have a
    legitimate interest to process necessary data to
</p>
<ul>
    <li>
        <p style="margin-bottom: 0in">
            Analyze and monitor use of the
            Service and its social features
        </p>
    <li>
        <p style="margin-bottom: 0in">
            Moderate chats either
            automatically or manually
        </p>
    <li>
        <p>
            Take action against fraudulent or misbehaving players
        </p>
</ul>
<h4 class="western">To analyze, profile, and segment.</h4>
<p>
    In all of the above cases and purposes, we may analyze, profile
    and segment all collected data.
</p>
<h4 class="western">With your consent.</h4>
<p>
    With your consent, we may process your data for additional
    purposes, such as using your GPS location to show you local events.
</p>
<h3 class="western">
    Who can see your data
</h3>
<p>
    Apart from dieupegames, your data can be accessed by others in the
    following situations:
</p>
<h3 class="western">Other players and users.</h3>
<p>
    Social features are a core component of our games. Other players
    and users may, for example, see your profile data, in-game activities
    and read the messages you have posted.
</p>
<h3 class="western">Partners working for dieupegames.</h3>
<p>
    dieupegames has partners to perform services for us. These partners
    process your data only at and according to dieupegames&acute;s
    instructions to provide the Service, such as hosting, player support,
    advertising, analytics and fraud prevention.
</p>
<h4 class="western">Other companies and public authorities.</h4>
<p>
    In order to combat fraud and illegal activity, we may exchange
    data with other companies and organizations and provide it to public
    authorities in response to lawful requests.
</p>
<p>
    We may also disclose your data based on your consent, to comply
    with the law or to protect the rights, property or safety of us, our
    players or others.
</p>
<h4 class="western">Advertising and Social Media partners.</h4>
<p>
    The Service includes features from our partners, such as social
    media interaction tools and in-game advertising. These partners may
    access your data and operate under their own privacy policies. We
    encourage you to check their privacy policies to learn more about
    their data processing practices.
</p>
<h3 class="western">International data transfers</h3>
<p>
    Our Service is global by nature and your data can therefore be
    transferred to anywhere in the world. Because different countries may
    have different data protection laws than your own country, we take
    steps to ensure adequate safeguards are in place to protect your data
    as explained in this Policy. Adequate safeguards that our partners
    may use include standard contractual clauses approved by EU
    Commission and the Privacy Shield certification in case of transfers
    to the USA.
</p>
<h3 class="western">Cookies and similar technologies</h3>
<p>
    Like most online services, we and our partners use cookies and
    similar technologies to provide and personalize the Service, analyse
    use, target advertisements and prevent fraud. You can disable cookies
    in your browser settings, but some parts of the Service may then not
    function properly.
</p>
<h3 class="western">How do we protect your data</h3>
<h4 class="western">Security Safeguards.</h4>
<p>
    In order to help ensure a secure and safe player experience, we
    are continuously developing and implementing administrative,
    technical and physical security measures to protect your data from
    unauthorized access or against loss, misuse or alteration.
</p>
<h4 class="western">Data retention.</h4>
<p>
    We retain your data for as long as your account is active (at least one connection in the last 6 months) or as
    needed to provide you the Service.&nbsp;We will for example
    periodically remove unused game accounts and we regularly review
    and remove unnecessary data.<br />
    Note that if you ask us to
    remove your personal data, we will retain your data as necessary for
    our legitimate business interests, such as to comply with our legal
    obligations, resolve disputes, and enforce our agreements.
</p>
<h3 class="western">Age limits</h3>
<p>
    We do not knowingly collect or solicit personal data about or
    direct or target interest based advertising to anyone under the age
    of 13 or knowingly allow such persons to use our Services.&nbsp; If
    you are under 13, please do not send any data about yourself to us,
    including your name, address, telephone number, or email address.&nbsp;
    No one under the age of 13 may provide any personal data.&nbsp; If we
    learn that we have collected personal data about a child under age
    13, we will delete that data as quickly as possible.&nbsp; If you
    believe that we might have any data from or about a child under the
    age of 13, please contact us.
</p>
<p style="margin-bottom: 0in; line-height: 100%">
    <br />

</p>
